{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% elseif success_msg %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success_msg }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-pencil"></i> {{ text_edit }}
        </h3>
      </div>

      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">

          {# Enable / Disable #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-language">
              {{ text_status }}
            </label>
            <div class="col-sm-10">
              <select name="payment_scanpay_status" id="input-status" class="form-control">
                {% if payment_scanpay_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

          {# API-key #}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-apikey">
              API key
            </label>
            <div class="col-sm-10">
              <input type="text" name="payment_scanpay_apikey" value="{{ payment_scanpay_apikey }}" id="input-apikey" class="form-control">

              {# Ping URL #}
              <style>
                  .scanpay--ping--info {
                      margin: 6px 0 0;
                  }
                  .scanpay--ping--info > b {
                      color: green;
                  }
                  .scanpay--ping--alert {
                      background: #fff4cc;
                      border-left: 5px #ffe070 solid;
                      margin: 12px 0 0 0;
                      padding: 5px 5px 10px 11px;
                      text-align: left;
                      font-size: 13px;
                  }
                  .scanpay--ping--alert > div {
                      display: flex;
                  }
                  .scanpay--ping--alert > h4 {
                      color: #464646;
                      font-size: 14px;
                      font-weight: bold;
                      margin: 7px 0 6px;
                  }
                  .scanpay--ping--alert a, .scanpay--ping--info a {
                      text-decoration: underline;
                  }
              </style>
              {% if payment_scanpay_apikey == '' %}
                <div class="scanpay--ping--info">
                  You can find your Scanpay API key <a target="_blank" href="https://dashboard.scanpay.dk/settings/api">here</a>.
                </div>
              {% elseif dtime == 0 %}
                <div class="scanpay--ping--alert">
                  <h4>Initiate synchronization</h4>
                  <span>
                    Your system is not yet synchronized. Please <a target="_blank" href="{{ pingurl }}">click here</a> 
                    to initiate the synchronization.
                  </span>
                </div>
              {% elseif dtime < 600 %}
                <div class="scanpay--ping--info">
                  <b>Synchronized</b>: Last ping received {{ dtime }} seconds ago.
                </div>
              {% else %}
                <div class="scanpay--pingurl pp-buttons-container">
                  <div class="scanpay--pingurl--warning">
                    <h4>Warning!</h4>
                    <div>
                      Long time since last ping. Please check that the URL below matches the Ping URL in the 
                      <a href="https://dashboard.scanpay.dk/settings/api">dashboard</a>.
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          {# Auto-Capture #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-captureonorderstatus">
              <span data-toggle="tooltip" title="Automatically capture the payment when the order status is changed.">
                Auto-Capture
              </span>
            </label>
            <div class="col-sm-10">
              <select name="payment_scanpay_auto_capture" id="input-captureonorderstatus" class="form-control">
                <option value="off" {% if payment_scanpay_auto_capture == 'off' %}selected{% endif %}>
                  {{ text_disabled }}
                </option>
                <option value="5" {% if payment_scanpay_auto_capture == '5' %}selected{% endif %}>
                  Capture when order status changes to 'Complete'
                </option>
                <option value="3" {% if payment_scanpay_auto_capture == '3' %}selected{% endif %}>
                  Capture when order status changes to 'Shipped'
                </option>
                <option value="2" {% if payment_scanpay_auto_capture == '2' %}selected{% endif %}>
                  Capture when order status changes to 'Processing'
                </option>
              </select>
            </div>
          </div>

          {# Language #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-language">
              <span data-toggle="tooltip" title="{{ help_language }}">{{ text_language }}</span>
            </label>
            <div class="col-sm-10">
              <select name="payment_scanpay_language" id="input-language" class="form-control">
                <option value="" {% if payment_scanpay_language == '' %}selected{% endif %}>{{ text_lang_auto }}</option>
                <option value="da" {% if payment_scanpay_language == 'da' %}selected{% endif %}>{{ text_lang_da }}</option>
                <option value="en" {% if payment_scanpay_language == 'en' %}selected{% endif %}>{{ text_lang_en }}</option>
              </select>
              {% if error_language %}
              <div class="text-danger">{{ error_language }}</div>
              {% endif %}
            </div>
          </div>

          {# Sort Order #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">
              <span data-toggle="tooltip" title="The priority in the payment method list, where 0 is the highest priority.">{{ text_sort_order }}</span>
            </label>
            <div class="col-sm-10">
              <input type="text" name="payment_scanpay_sort_order" value="{{ payment_scanpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{ footer }}
