
<div class="scanpay--order--nav">
  <a target="_blank" class="btn btn-primary" href="https://dashboard.scanpay.dk/{{ shopid }}/{{ trnid }}/capture">
    Capture
  </a>
  <a target="_blank" class="btn btn-danger" href="https://dashboard.scanpay.dk/{{ shopid }}/{{ trnid }}/refund">
    Refund
  </a>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <td colspan="2">
        Transaction
        <a target="_blank" href="https://dashboard.scanpay.dk/{{ shopid }}/{{ trnid }}">#{{ trnid }}</a>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Authorized</td>
      <td>{{ authorized }}</td>
    </tr>
    <tr>
      <td>Captured</td>
      <td>{{ captured }}</td>
    </tr>
    <tr>
      <td>Refunded</td>
      <td>{{ refunded }}</td>
    </tr>
    {% if authorized == voided %}
      <tr>
        <td>Voided</td>
        <td>{{ voided }}</td>
      </tr>
    {% endif %}
  </tbody>
</table>
