{{ header }}{{ column_left }}

<div id="content">
  <style>
      .scanpay--admin--nav {
          margin-bottom: 12px
      }

      .scanpay--admin--nav > .btn {
          margin-right: 4px;
      }

      .scanpay--ping--info {
          margin: 7px 0 0;
      }
      .scanpay--ping--info > b {
          color: #066306;
      }
      .scanpay--ping--alert {
          background: #fff4cc;
          border-left: 5px #ffe070 solid;
          margin: 12px 0 0 0;
          padding: 5px 5px 10px 11px;
          text-align: left;
          font-size: 13px;
      }
      .scanpay--ping--alert > div {
          display: flex;
      }
      .scanpay--ping--alert > h4 {
          color: #565246;
          font-size: 14px;
          font-weight: bold;
          margin: 7px 0 6px;
      }
      .scanpay--ping--alert a, .scanpay--ping--info a {
          text-decoration: underline;
      }
  </style>

  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>Scanpay</h1>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% elseif success_msg %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success_msg }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="scanpay--admin--nav">
      <a class="btn btn-info" target="_blank" href="https://github.com/scanpay/opencart-scanpay/blob/master/docs/installation.md">
        <i class="fa fa-github"></i>
        Guide
      </a>
      {% if payment_scanpay_apikey != '' %}
        <a class="btn btn-default" target="_blank" href="{{ pingurl }}">
          Send ping
        </a>
      {% endif %}
      <a class="btn btn-default" target="_blank" href="{{ logsurl }}">
        Logs
      </a>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-pencil"></i> Edit
        </h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal" autocomplete="off" spellcheck="false">

          {# Enable / Disable #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Status</label>
            <div class="col-sm-10">
              <select name="payment_scanpay_status" id="input-status" class="form-control">
                <option value="0">Disabled</option>
                <option value="1" {{ (payment_scanpay_status) ? 'selected' : '' }}>Enabled</option>
              </select>
            </div>
          </div>

          {# API-key #}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-apikey">
              API key
            </label>
            <div class="col-sm-10">
              <input type="text" name="payment_scanpay_apikey" value="{{ payment_scanpay_apikey }}" id="input-apikey" class="form-control">
              {# Ping URL #}
              {% if payment_scanpay_apikey == '' %}
                <div class="scanpay--ping--info">
                  You can find your Scanpay API key <a target="_blank" href="https://dashboard.scanpay.dk/settings/api">here</a>.
                </div>
              {% elseif dtime == 0 %}
                <div class="scanpay--ping--alert">
                  <h4>Initiate synchronization</h4>
                  <span>
                    Your system is not yet synchronized. Please <a target="_blank" href="{{ pingurl }}">click here</a> 
                    to initiate the synchronization.
                  </span>
                </div>
              {% elseif dtime < 600 %}
                <div class="scanpay--ping--info">
                  <b>Synchronized</b>: Last ping received {{ dtime }} seconds ago.
                </div>
              {% else %}
                <div class="scanpay--ping--alert">
                  <h4>Warning: not synchronized</h4>
                  <span>
                    The last synchronization was at <time>{{ pingdate }}</time>. Please <a target="_blank" href="{{ pingurl }}">click here</a> 
                    to perform a synchronization ping.
                  </span>
                </div>
              {% endif %}
            </div>
          </div>

          {# Auto-Capture #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-captureonorderstatus">
              <span data-toggle="tooltip" title="Automatically capture the payment when the order status is changed.">
                Auto-Capture
              </span>
            </label>
            <div class="col-sm-10">
              <select name="payment_scanpay_auto_capture" id="input-captureonorderstatus" class="form-control">
                <option value="off" {% if payment_scanpay_auto_capture == 'off' %}selected{% endif %}>
                  Disabled
                </option>
                <option value="5" {% if (payment_scanpay_auto_capture == '5' or payment_scanpay_auto_capture == '') %}selected{% endif %}>
                  Capture when order status changes to 'Complete'
                </option>
                <option value="3" {% if payment_scanpay_auto_capture == '3' %}selected{% endif %}>
                  Capture when order status changes to 'Shipped'
                </option>
                <option value="2" {% if payment_scanpay_auto_capture == '2' %}selected{% endif %}>
                  Capture when order status changes to 'Processing'
                </option>
              </select>
            </div>
          </div>

          {# Language #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-language">
              <span data-toggle="tooltip" title="Set the payment window language. 'Auto' allows Scanpay to choose the language based on algorithms.">Language</span>
            </label>
            <div class="col-sm-10">
              <select name="payment_scanpay_language" id="input-language" class="form-control">
                <option value="" {% if payment_scanpay_language == '' %}selected{% endif %}>Auto</option>
                <option value="da" {% if payment_scanpay_language == 'da' %}selected{% endif %}>Danish</option>
                <option value="en" {% if payment_scanpay_language == 'en' %}selected{% endif %}>English</option>
              </select>
            </div>
          </div>

          {# Sort Order #}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">
              <span data-toggle="tooltip" title="The priority in the payment method list, where 0 is the highest priority.">Sort Order</span>
            </label>
            <div class="col-sm-10">
              <input type="text" name="payment_scanpay_sort_order" value="{{ payment_scanpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{ footer }}
